<div class="has-background-color is-flex flex-grow-1 flex-direction-column">
  <%= form_with(model: category) do |form| %>
    <div class="header">
      <%= render "shared/back_button" %>
      <div class="is-flex flex-grow-1 justify-content-center">
        <h2 class="title">New Category</h2>
      </div>
      <%= form.submit "Save", class: "button has-text-white" %>
    </div>
    <%= render "devise/shared/error_messages", resource: category %>
    <div class="input-group my-2 shadow-box">
      <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "input", required: true %>
      <div class="divider"></div>
      <%= form.url_field :icon, placeholder: "Icon", class: "input", required: true %>
    </div>
  <% end %>
</div>
